<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

   <key>items</key>

   <array>

       <dict>

           <key>assets</key>

           <array>

               <dict>

                   <key>kind</key>

                   <string>software-package</string>

                   <key>url</key>

                   <string>http://54.153.32.40:81/ZLJ.ipa</string>

               </dict>

           </array><key>metadata</key>

           <dict>

               <key>bundle-identifier</key>

               <string>com.myapp</string>

               <key>bundle-version</key>

               <string>4</string>

               <key>kind</key>

               <string>software</string>

               <key>subtitle</key>

               <string>MyApp</string>

               <key>title</key>

               <string>MyApp<span style="font-family: Arial, Helvetica, sans-serif;"></string></span>

           </dict>

       </dict>

   </array>

</dict>

</plist>